<html>
  <head>
    <title>Video Test</title>
    <meta name="viewport" content="width=360px; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  </head>
  <body style="background-color:#FFFFFF; ">
    <center>
      <h4>hi speed scrub</h4>
      <video id="my_video_1" preload="auto" controls="" width="90%"> 
        <source src="2845.m3u8" type="application/x-mpegURL">  
      </video>

      <h4>one stream file to rule them all</h4>
      <video id="my_video_2" preload="auto" controls="" width="90%"> 
        <source src="2845_OneStream.m3u8" type="application/x-mpegURL">  
      </video>


    </center>
  </body>
</html>








